header {
    background: rgb(0, 204, 255);
    color: white;
    text-align: center;
    border-radius: 10px;
}


.border1{
    width: 500px;
    height: 500px;
    border-top: 10px solid #045d69;
    border-bottom: 10px solid #045d69;
    border-left: 10px solid #045d69;
    border-right: 10px solid #045d69;
    float: left;
    margin-right: 50px ;
    margin-left: 50px;
}

.border2{
    width: 500px;
    height: 505px;
    border-top: 10px solid #045d69;
    border-bottom: 10px solid #045d69;
    border-left: 10px solid #045d69;
    border-right: 10px solid #045d69;
    float: left;
    
}


h2{
    text-align: center;
    border-radius: 10px;
}

.input_section{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    margin-left: 50px;
    margin-right: 50px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    color: black;
}

input {
    padding: 10px;
    border: 2px solid #18999B;
    border-radius: 10px;
    font-size: 16px;
    outline : none;
}

input:focus{

    border-color: #18999B;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
    background-color: #8fe2e4;
}

button:hover{
    background-color: #18999B;
}

button:active{

    transform: translateY(1px);
    background-color: #095a5c;
}